<ion-header>
  <ion-toolbar color="primary">
    <ion-title>เข้าสู่ระบบ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Username:</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password:</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-margin-top">
        <ion-button expand="block" (click)="onLogin()">เข้าสู่ระบบ</ion-button>
        <ion-button fill="clear" expand="block">ยังไม่ลงทะเบียน? ลงที่นี่</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
