<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button menu="first">
      </ion-menu-button>
      </ion-buttons>
    <ion-title>ร้านอาหาร</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size="12" size-sm="6" offset-sm="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
          <ion-img src="https://pronto-core-cdn.prontomarketing.com/2/wp-content/uploads/sites/2404/media/events/2014/happy-title-2.jpg"></ion-img>
        
          <ion-card-content>
            card content
          </ion-card-content>
          <div class="ion-padding">
            <ion-button fill="clear" routerLink="/restaurant/tabs/find/1">เพิ่มเติม</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="6" offset-sm="3">
        <ion-list>
          <ion-item detail>
            <ion-thumbnail slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            item1
          </ion-item>
          <ion-item detail>
            <ion-thumbnail slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            item2
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
