<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/restaurant/tabs/find"></ion-back-button>
    </ion-buttons>
    <ion-title>restaurant-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="6" offset-sm="3" class="ion-text-center">
      <ion-card>
        <ion-card-header>
          
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
        <ion-img src="https://pronto-core-cdn.prontomarketing.com/2/wp-content/uploads/sites/2404/media/events/2014/happy-title-2.jpg"></ion-img>
        <ion-card-content>
          card content
        </ion-card-content>
        <div class="ion-padding">
          <ion-button (click)="onReservation()">สำรองโต๊ะ</ion-button>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
